.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  color: lightblue;
  font-weight: bold;
  border: 2px solid lightblue;
  border-radius: 3px;
  padding: 2px 5px;
  margin: .5em;
}

.link:hover {
  background-color: lightblue;
  color: white;
}
